<h1>Next Steps</h1>
<div class="next-step-list">
    <div class="fixed">
        <div class="sort">
            <p>Sort by </p>
            <select class="selected" ng-model="ctrl.selectedSort">
                <option value="close_date">Close Date</option>
                <option value="account_value">Deal Value</option>
                <option value="favorite">Favorite</option>
                <option value="name">Deal Name</option>
            </select>
        </div>

        <p class="filter" ng-click="ctrl.filterNextSteps()" ng-class="{ active: ctrl.filterActive }">Deals without Next Steps</p>
    </div>
    <div class="next-step" ng-repeat="deal in ctrl.filteredDeals | orderBy: ctrl.selectedSort">
        <h2>{{deal.next_step}}</h2>
        <h2 ng-if="ctrl.noNextStep">Set Next Step</h2>
        <a ui-sref="deal-detail({deal_id: deal.id})">{{deal.name}}</a>
        <p>Owner | {{deal.owner}}</p>
        <p class="account-value">{{ctrl.formatMoney(deal.account_value)}}</p>
        <small>Close Date {{deal.close_date | date:"MM/dd/yyyy"}}</small>
        <a class="caret" ui-sref="deal-detail({deal_id: deal.id})"></a>
    </div>
</div>