<h1>Next Steps</h1>
<div class="next-step-list">
    <div class="fixed">
        <div class="sort">
            <p>Sort by </p>
            <select class="selected" ng-model="ctrl.selectedSort">
                <option value="close_date">Close Date Oldest First</option>
                <option value="-close_date">Close Date Newest First</option>
                <option value="amount">Deal Value Min-Max</option>
                <option value="-amount">Deal Value Max-Min</option>
                <option value="-favorite">Favorites First</option>
                <option value="favorite">Favorites Last</option>
                <option value="name">Deal Name A-Z</option>
                <option value="-name">Deal Name Z-A</option>
            </select>
        </div>

        <p class="filter" ng-click="ctrl.filterNextSteps()" ng-class="{ active: ctrl.filterActive }">Deals without Next Steps</p>
    </div>
    <loading ng-show="ctrl.loading"></loading>
    <h2 ng-if="ctrl.showNoDealsWithoutNextSteps" class="endpoint-error">No deals with next steps found!</h2>
    <div class="next-step" ng-repeat="deal in ctrl.filteredDeals | orderBy: ctrl.selectedSort">
        <h2 ui-sref="edit-next-step({deal_id: deal.id, next_step: deal.next_step, from_page: 'nextStep'})" class="nextStepLink">{{deal.next_step}}</h2>
        <h2 ng-if="ctrl.noNextStep" ui-sref="edit-next-step({deal_id: deal.id, next_step: deal.next_step, from_page: 'nextStep'})" class="nextStepLink">Set Next Step</h2>
        <a ui-sref="deal-detail({deal_id: deal.id})">{{deal.name}}</a>
        <p>Owner | {{deal.owner.data.first_name}} {{deal.owner.data.last_name}}</p>
        <p class="account-value">{{ctrl.formatMoney(deal.amount)}}</p>
        <small>Close Date {{deal.close_date | date:"MM/dd/yyyy"}}</small>
        <a class="caret" ui-sref="edit-next-step({deal_id: deal.id, next_step: deal.next_step, from_page: 'nextStep'})"></a>
    </div>
</div>
