<div class="ask">
    <h1>Ask</h1>
    <div class="ask-details">
        <small>Deal</small>
        <h1>{{ctrl.deal.name}}</h1>
        <small>Questions</small>
        <p>Is this project budgeted?</p>
        <p>Is the funding available now?</p>
        <p class="more">+ 5 More</p>
    </div>
    <div class="tabs">
        <!-- Radio button and label for #tab-content1 -->
        <input type="radio" name="tabs" id="tab1" checked >
        <label for="tab1"><small>Ask</small></label>

        <!-- Radio button and label for #tab-content2 -->
        <input type="radio" name="tabs" id="tab2">
        <label for="tab2"><small>Answer</small></label>

        <div id="tab-content1" class="ask-reps tab-content">
            <small>Send to Contacts</small>
            <ul class="reps">
                <li ng-repeat="rep in myReps">{{rep['name']}}<a href="#" class="delete"
                                                                ng-click="removeMyRep($index, rep.name)"></a></li>
                <li><a href="#" class="add-rep" ng-click="showRepList()">Add Contact</a></li>
            </ul>
            <ul class="rep-list" ng-show="visible">
                <li ng-repeat="rep in allReps" ng-click="addRep(rep.name); removeAllRep($index)">{{rep['name']}}</li>
            </ul>
            <button class="inactive" ui-sref="root.feed" type="button">Ask Questions</button>
        </div>
        <div id="tab-content2" class="answer tab-content">
            <small>Answer Yourself</small>
            <!-- Multiple Choice Answers -->
            <form>
                <fieldset>
                    <div>
                        <input type="radio" class="radio" name="answer" id="yes"/>
                        <label for="yes">Yes</label>
                    </div>
                    <div>
                        <input type="radio" class="radio" name="answer" id="no"/>
                        <label for="no">No</label>
                    </div>
                    <div>
                        <input type="radio" class="radio" name="answer" id="unknown"/>
                        <label for="unknown">Unknown</label>
                    </div>
                    <div>
                        <textarea placeholder="Comments..."></textarea>
                    </div>
                    <button class="submit" type="submit">Submit</button>
                </fieldset>
            </form>
            <!-- Text Input Answers -->
            <form>
                <fieldset>
                    <div>
                        <textarea placeholder="Answer..."></textarea>
                    </div>
                  <button class="submit" type="submit">Submit</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>
