<h1 class="play-feed">Deal Feed</h1>
<div class="deal-feed-title">
    <div>
      <small ng-bind="ctrl.deal.company_name"></small>
      <h1 ng-bind="ctrl.deal.name"></h1>
    </div>
    <div class="form-group search">
      <span></span>
      <input name="contacts" id="contacts" type="text" placeholder="Filter by Contact" class="form-control">
    </div>
</div>
<div class="feed deal">
    <div class="row">
        <div class="feed-filter">
            <a href="#" class="questions">Questions</a>
            <a href="#" class="comments">Comments</a>
            <a href="#" class="reminders active">Reminders</a>
        </div>
        <div class="flex">
            <aside>
                <div class="date">
                    <span>23</span>
                    <small>jan</small>
                </div>
            </aside>
            <div class="feed-detail-wrapper">
                <div class="feed-details">
                    <img src="media/images/avatar3.png">
                    <div class="text">
                        <p>Asked Mark Leder</p>
                        <h2>Have you met the economic buyer?</h2>
                        <small class="timestamp">Just now</small>
                    </div>
                </div>
                <div class="feed-details">
                    <img src="media/images/avatar.png">
                    <div class="text">
                        <p class="reminder">Reminded Claire Miller <span>1</span></p>
                        <h2>Have you met the economic buyer?</h2>
                        <small class="timestamp">2 hours ago</small>
                    </div>
                    <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
                </div>
                <div class="feed-details pending">
                    <img src="media/images/avatar.png">
                    <div class="text">
                        <p>Asked You</p>
                        <h2>Do you know what the budget is for this really expensive deal?</h2>
                        <small class="timestamp">4 hours ago</small>
                    </div>
                    <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
                </div>
                <div class="feed-details">
                    <img src="media/images/avatar3.png">
                    <div class="text">
                        <p>Commented on Christopher Taylor's comment</p>
                        <h2>Have you met the economic buyer?</h2>
                        <small class="timestamp">Just now</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
