<div class="deal-title">
    <span class="favorite-mobile"></span>
    <small class="account" ng-bind="ctrl.deal.company_name"></small>
    <h1 ng-bind="ctrl.deal.name"></h1>
    <small class="deal-owner">Deal Owner: Claire Miller</small>
</div>

<div class="deal-detail clearfix">
    <aside>
        <img ng-src="{{ctrl.deal.owner.data.picture}}">
        <h2 ng-bind="ctrl.deal.owner.data.name"></h2>
        <small>Deal Owner</small>
        <span ng-click="ctrl.favorite(deal)" class="favorite" ng-class="{ active: ctrl.deal.favorite }"></span>
    </aside>
    <div class="deal-details clearfix">
        <div class="match-height">
            <div class="deal-btns">
                <button class="deal-feed" ng-click="$state.go('root.deal-feed')">Deal Feed</button>
                <button class="next-steps" ng-click="$state.go('root.coming-soon')">Next Steps</button>
                <div class="clearfix">
                    <div class="account-value">
                        <small>Account Value</small>
                        <h2 ng-bind="ctrl.account_value"></h2>
                    </div>
                    <div class="close-date">
                        <small>Close Date</small>
                        <h2 ng-bind="ctrl.close_date"></h2>
                    </div>
                </div>
            </div>
            <div class="plays">
                <div ng-repeat="(playbook_name, playbook) in ctrl.playbook_counts">
                    <small>{{playbook_name}}</small>
                    <div ui-sref="root.play-feed({deal_id: ctrl.deal.id, play_id: play.id})" ng-repeat="play in playbook" class="play-row">
                        <p>{{play.play}}</p>
                        <div class="questions clearfix">
                            <div class="answered">{{play.answer_count}}</div>
                            <div class="asked">{{play.question_count}}</div>
                        </div>
                        <a ui-sref="root.play-feed({deal_id: ctrl.deal.id, play_id: play.id})" class="caret"></a>
                    </div>
                </div>
                <div class="add-play">
                  <button ui-sref="root.deal-set-play({deal_id: ctrl.deal.id})">Add Play</button>
                </div>
            </div>
        </div>
        <div class="salesforce-button">
            <button class="salesforce" ng-click="ctrl.viewDealSalesforce()">View Deal in Salesforce</button>
            <a class="sync" href="" ng-click="ctrl.syncWithSalesforce()">Sync with Salesforce</a>
        </div>
        <div class="virtual-team clearfix" ng-if="ctrl.extended_team.length">
            <small>Extended Team</small>
            <div ng-repeat="team_mate in ctrl.extended_team" class="questions clearfix">
                <small>{{team_mate.name}}</small>
                <div class="answered {{ctrl.answerCountIsZero(team_mate)}}">{{team_mate.answer_count}}</div>
                <div class="asked">{{team_mate.question_count}}</div>
            </div>
        </div>
    </div>
</div>



