<h1 class="play-feed">Deal Feed</h1>
<div class="deal-title">
    <small ng-bind="ctrl.deal.company_name"></small>
    <h1 ng-bind="ctrl.deal.name"></h1>
    <div class="form-group search">
      <span></span>
      <input name="contacts" id="contacts" type="text" placeholder="Filter by Contact" class="form-control">
    </div>
</div>
<div class="feed">

    <div class="row">
      <div class="feed-filter">
        <a href="#" class="questions">Questions</a>
        <a href="#" class="comments">Comments</a>
        <a href="#" class="reminders active">Reminders</a>
      </div>
      <div class="flex">
        <aside>
          <div class="date">
            <span>23</span>
            <small>jan</small>
          </div>
        </aside>
        <div class="feed-detail-wrapper">
          <div class="feed-details clearfix pending">
            <img ng-src="{{item.from_user_picture}}">
            <div class="text">
              <h2>Asked you a question</h2>
              <a href="#">Sony Tech Refresh</a>
              <small class="timestamp">Just Now</small>
            </div>
            <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
          </div>
          <div class="feed-details clearfix sent">
            <div class="text">
              <h2>You asked Mark Leder a question</h2>
              <a href="#">Sony Tech Refresh</a>
              <small class="timestamp">2 hours ago</small>
            </div>
          </div>
          <div class="feed-details clearfix">
            <img ng-src="{{item.from_user_picture}}">
            <div class="text">
              <h2>Sent you a reminder</h2>
              <a href="#">Sony</a>
              <small class="timestamp">3 hours ago</small>
            </div>
            <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
          </div>
          <div class="feed-details clearfix pending">
            <img ng-src="{{item.from_user_picture}}">
            <div class="text">
              <h2>Sent Claire Miller 3 questions</h2>
              <a href="#">Sony Tech</a>
              <small class="timestamp">10 hours ago</small>
            </div>
            <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
          </div>
          <div class="feed-details clearfix pending">
            <img ng-src="{{item.from_user_picture}}">
            <div class="text">
              <h2>commented on Dan Richton's answer</h2>
              <a href="#">Sony Tech</a>
              <small class="timestamp">10 hours ago</small>
            </div>
            <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
