<div class="deal-title">
    <span class="favorite-mobile"></span>
    <small class="account" ng-bind="ctrl.deal.company_name"></small>
    <h1 ng-bind="ctrl.deal.name"></h1>
    <small class="deal-owner">Deal Owner: Claire Miller</small>
</div>

<div class="deal-detail clearfix">
    <aside>
        <img src="{{ctrl.deal.owner.data.picture}}">
        <h2 ng-bind="ctrl.deal.owner.data.name"></h2>
        <small>Deal Owner</small>
        <span class="favorite"></span>
    </aside>
    <div class="details clearfix">
        <div class="match-height">
            <div class="deal-btns">
                <button class="deal-feed">Deal Feed</button>
                <button class="next-steps">Next Steps</button>
                <div class="clearfix">
                    <div class="account-value">
                        <small>Account Value</small>
                        <h2 ng-bind="ctrl.account_value"></h2>
                    </div>
                    <div class="close-date">
                        <small>Close Date</small>
                        <h2 ng-bind="ctrl.close_date"></h2>
                    </div>
                </div>
            </div>
            <div class="plays">
                <div ng-repeat="(playbook_name, playbook) in ctrl.playbook_counts">
                    <small>{{playbook_name}}</small>
                    <div ng-repeat="play in playbook" class="play-row">
                        <p>{{play.play}}</p>
                        <div class="questions clearfix">
                            <div class="answered">{{play.answer_count}}</div>
                            <div class="asked">{{play.question_count}}</div>
                        </div>
                    </div>
                </div>
                <div class="add-play">
                  <button ui-sref="root.deal-set-play({deal_id: ctrl.deal.id})">Add Play</button>
                </div>
            </div>
        </div>
        <div class="salesforce-button">
            <button class="salesforce">View Deal in Salesforce</button>
            <a class="sync" href="#">Sync with Salesforce</a>
        </div>
        <div class="virtual-team clearfix">
            <small>Extended Team</small>
            <div ng-repeat="team_mate in ctrl.extended_team" class="questions clearfix">
                <small><a>{{team_mate.name}}</a></small>
                <div class="answered {{ctrl.answerCountIsZero(team_mate)}}">{{team_mate.answer_count}}</div>
                <div class="asked">{{team_mate.question_count}}</div>
            </div>
        </div>
    </div>
</div>



