<div class="Report_Label_Non_Mobile" ng-if="ctrl.showReportlabel"><small ng-bind="ctrl.districtForLabel"></small></div>
<h1 ng-bind="ctrl.districtMyLabel + 'Direct Reports'">Direct Reports</h1>
<div class="Report_Label" ng-if="ctrl.showReportlabel"><small ng-bind="ctrl.districtForLabel"></small></div>
<!--border-top-->
<div ng-repeat="user in ctrl.district" ng-class='{"border-top":$first}' class="row district ">
    <aside>
        <div ng-repeat="(key, week) in ctrl.weekCounts(user) | limitTo:4" style="height:{{week.count}}%"
             class="week {{ctrl.convertNumberToWord(key + 1)}}">
            <p>Week {{key + 1}}</p>
        </div>
    </aside>
    <div class="details clearfix">
        <img ng-src="{{user.picture}}">
        <div class="text">
            <h2><a ui-sref="root.profile.user({user_id: user.id})">{{user.name}}</a></h2>
            <small class="deals-count">{{user.deal_count}} Deals</small>
        </div>
        <div class="questions clearfix">
            <small>Trailing 13 QQs</small>
            <div class="answered">{{ctrl.trailingAnswerCount(user)}}</div>
            <div class="asked">{{ctrl.trailingQuestionCount(user)}}</div>
        </div>
        <a ui-sref="root.profile.user({user_id: user.id})" class="caret"></a>
    </div>
</div>
