<!--<a class="logo" href="#">Traqq</a>-->

<div class="feed-headerbar clearfix">
  <h1>My Feed</h1>
</div>
<div class="feed">
  <div class="tabs">
      <input type="radio" name="tabs" id="tab1" checked >
      <label for="tab1"><small>Inbox</small></label>
      <input type="radio" name="tabs" id="tab2">
      <label for="tab2"><small>Sent</small></label>
      <div id="tab-content1" class="row tab-content">
          <div class="feed-filter">
              <a href="#" class="questions">Questions</a>
              <a href="#" class="comments">Comments</a>
              <a href="#" class="reminders active">Reminders</a>
          </div>
          <div class="flex">
              <aside>
                  <div class="date">
                      <span>{{ctrl.formatDate(datestring).date()}}</span>
                      <small>{{ctrl.formatDate(datestring).format('MMM')}}</small>
                  </div>
              </aside>
              <div class="feed-detail-wrapper">
                  <div ng-click="ctrl.goToAnswer(item.deal_id)" class="feed-details clearfix pending">
                      <img src="media/images/avatar3.png">

                      <div class="text">
                          <p>Commented on your comment</p>
                          <h2>$2,000,000 seems low.</h2>
                          <a href="deal-detail">Sony Tech Refresh</a>
                          <small class="timestamp">{{ctrl.formatDate(item.timestamp).fromNow()}}</small>
                      </div>
                      <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
                  </div>
                  <div ng-click="ctrl.goToAnswer(item.deal_id)" class="feed-details clearfix pending">
                    <img src="media/images/avatar.png">

                    <div class="text">
                      <p class="reminder">Reminded You <span>1</span></p>
                      <h2>Have you met the economic buyer?</h2>
                      <a href="deal-detail">Sony Tech Refresh</a>
                      <small class="timestamp">{{ctrl.formatDate(item.timestamp).fromNow()}}</small>
                    </div>
                    <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
                  </div>
              </div>
          </div>
      </div>
      <div id="tab-content2" class="row tab-content">
          <aside>
              <div class="date">
                  <span>{{ctrl.formatDate(datestring).date()}}</span>
                  <small>{{ctrl.formatDate(datestring).format('MMM')}}</small>
              </div>
          </aside>
          <div class="feed-detail-wrapper">
              <div ng-repeat="item in ctrl.pendingItems" ng-click="ctrl.goToAnswer(item.deal_id)"
                   class="feed-details clearfix">
                  <div class="text">
                      <h2>You asked Claire Miller</h2>
                      <a ng-click="ctrl.goToDeal(item.deal_id, $event)">{{item.deal_name}}</a>
                      <small class="timestamp">{{ctrl.formatDate(item.timestamp).fromNow()}}</small>
                  </div>
                  <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
              </div>
          </div>
      </div>
    </div>
</div>


