<!--<a class="logo" href="#">Traqq</a>-->

<div class="feed-headerbar clearfix">
  <h1>My Feed</h1>
</div>
<div class="feed">
  <div class="tabs">
      <input type="radio" name="tabs" id="tab1" checked >
      <label for="tab1"><small>Inbox</small></label>
      <input type="radio" name="tabs" id="tab2">
      <label for="tab2"><small>Sent</small></label>
      <div id="tab-content1" class="row tab-content">
          <div class="feed-filter">
              <a href="" ng-click="ctrl.questionsShow()" ng-class="{active: ctrl.questionsActive}" class="questions">Questions</a>
              <a href="" ng-click="ctrl.commentsShow()" ng-class="{active: ctrl.commentsActive}" class="comments">Comments</a>
              <a href="" ng-click="ctrl.remindersShow()" ng-class="{active: ctrl.remindersActive}" class="reminders">Reminders</a>
          </div>
          <div class="flex">
              <aside>
                  <div class="date">
                      <span>{{ctrl.formatDate(datestring).date()}}</span>
                      <small>{{ctrl.formatDate(datestring).format('MMM')}}</small>
                  </div>
              </aside>
              <div class="feed-detail-wrapper">
                  <div  ng-repeat="item in ctrl.pendingItems | filter: {status: 'reminder'}" ng-click="ctrl.goToAnswer(item.deal_id)" ng-if="ctrl.remindersActive" class="feed-details pending">
                      <img ng-src="{{item.from_user_picture}}">
                      <div class="text">
                          <p>{{item.from_user_name}} {{ctrl.getActivityTypeDisplayString(item)}}</p>
                          <h2> Why is this still a placeholder?{{item.questionText}}</h2>
                          <a ng-click="ctrl.goToDeal(item.deal_id, $event)">{{item.deal_name}}</a>
                          <small class="timestamp">{{ctrl.formatDate(item.timestamp).fromNow()}}</small>
                      </div>
                      <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
                  </div>

                  <div  ng-repeat="item in ctrl.commentItems | filter: {status: 'comments'}" ng-click="ctrl.goToAnswer(item.deal_id)" ng-if="ctrl.commentsActive" class="feed-details pending">
                      <img ng-src="{{item.from_user_picture}}">
                      <div class="text">
                          <p ng-if="ctrl.getActivityTypeDisplayString(item) != 'Reminded You'">{{item.from_user_name}} {{ctrl.getActivityTypeDisplayString(item)}}</p>
                          <p class="reminder" ng-if="item.status == 'reminder'">{{item.from_user_name}} {{ctrl.getActivityTypeDisplayString(item)}} <span>{{ctrl.reminderCount(item)}}</span></p>
                          <h2> Why is this still a placeholder?{{item.questionText}}</h2>
                          <a ng-click="ctrl.goToDeal(item.deal_id, $event)">{{item.deal_name}}</a>
                          <small class="timestamp">{{ctrl.formatDate(item.timestamp).fromNow()}}</small>
                      </div>
                      <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
                  </div>

                  <div  ng-repeat="item in ctrl.questionsItems | filter: {status: 'comments'}" ng-click="ctrl.goToAnswer(item.deal_id)" ng-if="ctrl.questionsActive" class="feed-details pending">
                      <img ng-src="{{item.from_user_picture}}">
                      <div class="text">
                          <p ng-if="ctrl.getActivityTypeDisplayString(item) != 'Reminded You'">{{item.from_user_name}} {{ctrl.getActivityTypeDisplayString(item)}}</p>
                          <p class="reminder" ng-if="item.status == 'reminder'">{{item.from_user_name}} {{ctrl.getActivityTypeDisplayString(item)}} <span>{{ctrl.reminderCount(item)}}</span></p>
                          <h2> Why is this still a placeholder?{{item.questionText}}</h2>
                          <a ng-click="ctrl.goToDeal(item.deal_id, $event)">{{item.deal_name}}</a>
                          <small class="timestamp">{{ctrl.formatDate(item.timestamp).fromNow()}}</small>
                      </div>
                      <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>

