<!--<a class="logo" href="#">Quiqq</a>-->

<div class="feed-headerbar clearfix">
    <h1>QQ Feed</h1>
    <ul class="feed-filter"
        ng-if="ctrl.inboxPendingCount && ctrl.sentPendingCount && (ctrl.pendingItems || ctrl.feedItems)">
        <li><a ng-class="{active: ctrl.inboxActive}" href="#" ng-click="ctrl.clickInbox()"><span
                class="notification">{{ctrl.inboxPendingCount}}</span>Inbox</a></li>
        <li><a ng-class="{active: ctrl.sentActive}" href="#" ng-click="ctrl.clickSent()"><span
                class="notification">{{ctrl.sentPendingCount}}</span>Sent</a></li>
    </ul>
</div>
<div ng-if="ctrl.weHavePendingItems()" class="row border-top">
    <aside>
        <span class="hourglass"></span>
    </aside>
    <div class="feed-detail-wrapper">
        <div ng-repeat="item in ctrl.pendingItems" ng-click="ctrl.goToAnswer(item.deal_id)"
             class="feed-details clearfix pending">
            <img src="{{item.from_user_picture}}">

            <div class="text">
                <h2>{{ctrl.getActivityTypeDisplayString(item)}}</h2>
                <a ng-click="ctrl.goToDeal(item.deal_id, $event)">{{item.deal_name}}</a>
                <small class="timestamp">{{ctrl.formatDate(item.timestamp).fromNow()}}</small>
            </div>
            <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
        </div>
    </div>
</div>
<div ng-class="{'border-top':ctrl.weDoNotHavePendingItems()}"
     ng-repeat="(datestring, day) in ctrl.feedItems" class="row">
    <aside>
        <div class="date">
            <span>{{ctrl.formatDate(datestring).date()}}</span>
            <small>{{ctrl.formatDate(datestring).format('MMM')}}</small>
        </div>
    </aside>
    <div class="feed-detail-wrapper">
        <div ng-repeat="item in day" ng-click="ctrl.goToAnswer(item.deal_id)" class="feed-details clearfix">
            <img src="{{item.from_user_picture}}">

            <div class="text">
                <h2>{{ctrl.getActivityTypeDisplayString(item)}}</h2>
                <a ng-click="ctrl.goToDeal(item.deal_id, $event)">{{item.deal_name}}</a>
                <small class="timestamp">{{ctrl.formatDate(item.timestamp).fromNow()}}</small>
            </div>
            <a ng-click="ctrl.goToAnswer(item.deal_id)" class="caret"></a>
        </div>
    </div>
</div>

