<small class="import-title">Select Users to add to your Traqq team</small>
<form class="import">
    <fieldset>
        <div class="clearfix" ng-repeat="user in ctrl.users">
            <input type="checkbox" id="user_{{user.id}}" ng-model="user.isChecked" ng-change="user.selected" class="checkbox"/>
            <label for="user_{{user.id}}"></label>
            <img src="{{user.avatar}}"/>

            <div class="import-details users">
                <h2>{{user.name}}</h2>
            </div>
        </div>
        <button class="submit" type="submit" ng-click="ctrl.submit()" ng-disabled="ctrl.submittable()">Finish</button>
    </fieldset>
</form>
