<h1>Login</h1>
<form name="login_form" ng-submit="ctrl.login()">
    <small class="error-list" ng-repeat="error in ctrl.errorsList" >{{ error }}</small>
    <fieldset>
        <p>
            <small class="error-list" ng-if="login_form.organization.$invalid && !login_form.organization.$pristine">Organization is required</small>
            <input type="text" name="organization" ng-model="organization" ng-disabled="ctrl.LSError == false" required placeholder="Salesforce Organization"/>
        </p>
        <button class="submit salesforce" ui-sref="root.login-salesforce" ng-if="ctrl.LSError == true" ng-disabled="login_form.organization.$invalid">Login with Salesforce</button>
    </fieldset>
</form>