<h1>Traqq</h1>
<div class="profile clearfix">
    <aside>
        <img ng-if="ctrl.profile.picture" src="{{ctrl.profile.picture}}">
        <h2>{{ctrl.profile.name}}</h2>
        <small><a>Partners</a> | <a>Targets</a> | <a>Accounts</a></small>
    </aside>
    <div class="details clearfix">
        <div class="match-height">
            <a href="#"class="all-deals">
                <small>All My Deals</small>
                <h2>$2,300,000</h2>
            </a>
            <a href="#" class="active-deals">
                <small>Active Deals</small>
                <h2 ng-if="ctrl.trailingCounts.deal_value">{{ctrl.formatMoney(ctrl.trailingCounts.deal_value)}}</h2>
            </a>
        </div>
        <div class="activity">
            <small>Activity by week</small>
            <div class="graph clearfix">
                <div ng-repeat="(key, week) in ctrl.trailingCounts.week_counts | limitTo:13"
                     style="height:{{week.count}}%"
                     class="week {{ctrl.convertNumberToWord(key + 1)}}">
                    <p><span>{{week.count}}</span>Week {{key + 1}}</p>
                </div>
            </div>
        </div>
        <div class="match-height">
            <div ng-repeat="(key, playbook) in ctrl.playbook_counts" class="playbook">
                <small>{{key}}</small>
                <ul>
                    <li ng-repeat="play in playbook">{{play.play}}: {{play.count}}</li>
                </ul>
            </div>
        </div>
        <div class="virtual-team clearfix">
            <small>Active Virtual Team</small>
            <div ng-repeat="team_mate in ctrl.virtual_team" class="questions clearfix">
                <small>{{team_mate.name}}</small>
                <div class="answered {{ctrl.answerCountIsZero(team_mate)}}">{{team_mate.answer_count}}</div>
                <div class="asked">{{team_mate.question_count}}</div>
            </div>
        </div>
    </div>
</div>
