<h1>Sony Tech Refresh</h1>
<div class="send-question" ng-controller="MainController">
    <div class="question">
        <small>Question</small>
        <h2>Is this project budgeted?</h2>
    </div>
    <small>Send to Contacts</small>
    <ul class="reps">
        <li ng-repeat="rep in myReps">{{rep['name']}}<a href="#" class="delete"
                                                        ng-click="removeMyRep($index, rep.name)"></a></li>
        <li><a href="#" class="add-rep" ng-click="showRepList()">Add Contact</a></li>
    </ul>
    <ul class="rep-list" ng-show="visible">
        <li ng-repeat="rep in allReps" ng-click="addRep(rep.name); removeAllRep($index)">{{rep['name']}}</li>
    </ul>
    <button ui-sref="root.deal-feed({deal_id: ctrl.deal_id})" class="submit">Send</button>
</div>





