<h1>User Settings</h1>
<div class="profile clearfix">
    <aside>
        <img ng-if="ctrl.profile.picture" ng-src="{{ctrl.profile.picture}}">

        <h2>{{ctrl.profile.name}}</h2>
    </aside>
    <div class="settings clearfix">
        <div class="row">
            <small>Username</small>
            <h2>{{ctrl.profile.username}}</h2>
        </div>
        <div class="row">
            <small>password</small>
            <h2>•••••••••••</h2>
            <a href="#settings" class="edit" ng-click="ctrl.click_password()">edit</a>
        </div>
        <div ng-show="ctrl.expand_show_password" class="edit-expanded">
            <small>Edit Password</small>
            <form name="password_form" ng-submit="ctrl.password_reset()">
                <fieldset>
                    <p>
                        <small class="error" ng-if="password_form.current_password.$invalid && !password_form.current_password.$pristine">Current password is required</small>
                        <input type="password" name="current_password" ng-model="current_password" required placeholder="Current Password"/>
                    </p>

                    <p>
                        <small class="error" ng-if="password_form.new_password.$invalid && !password_form.new_password.$pristine">New password is required</small>
                        <input type="password" name="new_password"  ng-model='new_password' required placeholder="New Password"/>
                    </p>

                    <p>
                        <small class="error" ng-if="password_form.confirm_password.$error.required && !password_form.confirm_password.$pristine">Password Field required!</small>
                        <small class="error" ng-if="password_form.confirm_password.$error.passwordVerify && !password_form.confirm_password.$pristine">Passwords don't match!</small>
                        <input type="password" name="confirm_password" ng-model="new_password_confirm" required placeholder="Confirm New Password" data-password-verify="new.password"/>
                    </p>
                    <button type="submit" ng-disabled="password_form.$invalid">Reset</button>
                </fieldset>
            </form>
        </div>
        <div class="row">
            <small>Email Address</small>
            <h2>{{ctrl.profile.email}}</h2>
            <a href="#settings" class="edit" ng-click="ctrl.click_email()">edit</a>
        </div>
        <div ng-show="ctrl.expand_show_email" class="edit-expanded">
            <small>Edit Email</small>
            <form name="email_form" ng-submit="ctrl.email_change()">
                <fieldset>
                    <p>
                        <small class="error" ng-if="email_form.current_password_email.$error.required && !email_form.current_password_email.$pristine">Current password is required</small>
                        <input type="password" name="current_password_email" ng-model="current_password_email" required placeholder="Enter Password"/>
                    </p>

                    <p>
                        <small class="error" ng-if="email_form.new_email.$invalid && !email_form.new_email.$pristine">Email must be a valid address</small>
                        <input type="email" name="new_email" ng-model="new_email" required placeholder="New Email"/>
                    </p>

                    <button type="submit" ng-disabled="email_form.$invalid">Save</button>
                </fieldset>
            </form>
        </div>
        <div ng-if="ctrl.isAdmin" class="row">
            <small>Account Type</small>
            <h2>{{ctrl.profile.account_type}}</h2>
            <a href="#settings" class="edit" ng-click="ctrl.click_account_type()">edit</a>
        </div>
        <div  ng-if="ctrl.expand_show_account_type" class="edit-expanded">
        <input type="radio" name="Business" value="male" checked> Business
        <br>
        <input type="radio" name="Premium" value="female"> Premium
        <br>
        <input type="radio" name="Basic" value="female"> Basic
        <button>Change Type</button>
        </div>


        <div ng-if="ctrl.isAdmin"  class="row">
        <small>Billing</small>
            <h2>xxxx-xxxx-xxxx-6836</h2>
            <a href="#settings" class="edit" ng-click="ctrl.click_billing()">edit</a>
        </div>
        <div  ng-if="ctrl.expand_show_billing" class="edit-expanded">
            <form name="cc_form" ng-submit="ctrl.billing_change()">
            <label for="username">Update Billing Info</label>
            <input type="password" name="CCNumber" id="username" ng-model="CCNumber" required placeholder="XXXX-XXXX-XXXX-XXXX"/>
            <button type="submit" ng-disabled="cc_form.$invalid">Update</button>
            </form>
        </div>

        <div class="row"><small>Other</small></div>
        <div class="row btns">
            <button ng-hide="ctrl.isSalesRep" ui-sref="root.import-deals">Import Deals</button>
            <button ng-hide="ctrl.isSalesRep" ui-sref="root.import-users">Import Users</button>
            <button ng-click="ctrl.logOut()" class="sign-out">Sign Out</button>
        </div>
    </div>
</div>
