<form class="deal-detail-edit">
    <h1>Edit</h1>
    <fieldset>
        <p>
            <label for="amount"><small>Amount</small></label>
            <small class="error" ng-if="ctrl.amount.$invalid">Please enter a valid amount</small>
            <input type="number" name="amount" ng-model="ctrl.amount" id="amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" pattern="[0-9]*" step="0.01" required />
        </p>
    </fieldset>
    <input id="sync-now" type="checkbox" name="sync-now" ng-model="ctrl.updateSalesforce" value="true" />
    <label for="sync-now">Sync my changes to Salesforce now</label>
    <div class="deal-detail-edit-buttons">
        <button class="submit" ng-click="ctrl.cancel()" >Cancel</button>
        <button class="submit" ng-click="ctrl.save()" ng-disabled="ctrl.notSaveable()">Save Changes</button>
    </div>
</form>
