<h1>Favorites</h1>
<div class="fixed fixed-padding">
    <div class="sort">
        <p>Sort by</p>
        <select class="selected" ng-model="ctrl.selectedSort">
            <option value="close_date">Close Date Oldest First</option>
            <option value="-close_date">Close Date Newest First</option>
            <option value="amount">Deal Value Min-Max</option>
            <option value="-amount">Deal Value Max-Min</option>
            <option value="name">Deal Name A-Z</option>
            <option value="-name">Deal Name Z-A</option>
        </select>
    </div>
</div>
<loading ng-show="ctrl.loading"></loading>
<h2 class="endpoint-error" ng-if="ctrl.noFavoriteDeals">You don't have any favorite deals!</h2>
<div ng-repeat="deal in ctrl.favoriteDeals | orderBy: [ctrl.selectedSort, 'name']" class="deal-list">
    <aside>
        <span ng-click="ctrl.favorite(deal)" class="favorite" ng-class="{ active: deal.favorite }"></span>
    </aside>
    <div class="details clearfix">
        <div class="text">
            <h2><a ui-sref="deal-detail({deal_id: deal.id})">{{deal.name}}</a></h2>
            <h2>{{ctrl.formatMoney(deal.amount)}}</h2>
        </div>
        <div class="close-date clearfix">
            <small ng-if="deal.close_date > ctrl.dateNow">closes {{deal.close_date | date:"MM/dd/yyyy"}}</small>
            <small class="overdue" ng-if="deal.close_date < ctrl.dateNow">Past Due {{deal.close_date | date:"MM/dd/yyyy"}}</small>
            <small class="caution" ng-if="deal.close_date == ctrl.dateNow">Due {{deal.close_date | date:"MM/dd/yyyy"}}</small>
        </div>
        <a ui-sref="deal-detail({deal_id: deal.id})" class="caret"></a>
    </div>
</div>
