<h1>Register</h1>
<form name="registration_form" ng-submit="ctrl.register()">
    <fieldset>
        <p>
        <label for="email">Email Address</label>
        <small class="error" ng-if="registration_form.email.$error.required && !registration_form.email.$pristine">Email field is required!</small>
        <small class="error" ng-if="registration_form.email.$error.email && !registration_form.email.$pristine || ctrl.emailInvalid">Invalid email format</small>
        <input type="email" name="email" ng-model="email" id="email" ng-change="ctrl.emailVerify()" required placeholder="Email"/>
        </p>
        <p>
        <label for="pw1">Choose Password</label>
            <small class="error" ng-if="!pw1.length && !registration_form.pw1.$pristine">Password required!</small>
        <input type="password" id="pw1" name="pw1" ng-model="pw1" ng-required="" placeholder='Password' />
        </p>
        <p>
        <label for="pw2">Confirm Password</label>
        <small class="error" ng-if="!pw2.length && !registration_form.pw2.$pristine">Confirm password required!</small>
        <small class="error" ng-show="registration_form.pw2.$error.pwmatch">Passwords don't match.</small>
        <input type="password" id="pw2" name="pw2" ng-model="pw2" ng-required="" pw-check="pw1" placeholder='Confirm Password' />
        </p>
        <button class="submit" type="submit" ng-disabled="registration_form.$invalid || ctrl.emailInvalid">Register</button>
    </fieldset>
    <small class="registration-already-have">Already have an account?</small>
    <a class="forgot-pass" ui-sref="login">Login</a>
</form>




