<h1>Register</h1>
<form name="registration_form" ng-submit="ctrl.register()">
    <fieldset>
        <p>
        <label for="email">Email Address</label>
        <small class="error" ng-if="registration_form.email.$error.required && !registration_form.email.$pristine">Email field is required</small>
        <small class="error" ng-if="registration_form.email.$error.email && !registration_form.email.$pristine">Invalid email format</small>
        <input type="email" name="email" ng-model="email" id="email" required placeholder="Email" />
        </p>
        <p>
        <label for="password">Password</label>
        <small class="error" ng-if="registration_form.password.$error.required && !registration_form.password.$pristine">This field is required</small>
        <input data-ng-model='user.password' type="password" id="password" name='password' placeholder='password' required>
        </p>
        <p>
        <label for="confirm_password">Confirm Password</label>
        <small class="error" ng-if="registration_form.confirm_password.$error.required && !registration_form.password.$pristine">Confirm password required!</small>
        <small class="error" ng-if="registration_form.confirm_password.$error.passwordVerify && !registration_form.confirm_password.$pristine">Passwords don't match!</small>
        <input ng-model='confirm_password' type="password" name='confirm_password' id="confirm_password" placeholder='confirm password' required data-password-verify="user.password">
        </p>
        <button class="submit" type="submit" ng-disabled="registration_form.$invalid">Register</button>
    </fieldset>

</form>




