{
  "API_URI": "http://api.quickquestions.pixelandline.net/api",
  "PLATFORM": "ios",
  "ENVIRONMENT": "dev",
  "OAUTH_URI": "http://api.quickquestions.pixelandline.net/",
  "OAUTH_RETURN_URI": "http://localhost:3000/#/",
  "ORGANIZATION_RETURN_URI": "http://localhost:/#/link-organization"
}
