<h1>Edit</h1>
<div class="edit clearfix">
    <fieldset class="edit-mobile">
        <p>
            <small class="input-label">Close Date</small>
            <input type="date" class="edit-input-style" name="closeDate">
        </p>
    </fieldset>
    <div class="sync-check">
        <input type="checkbox" name="syncChanges" ng-model="syncChanges" value="true" />Sync my changes to Salesforce
    </div>
    <div class="edit-buttons">
        <button class="submit edit-buttons" ui-sref="import-deals" ng-model="setNextStep">Cancel</button>
        <button class="submit edit-buttons" ui-sref="edit-next-step">Save Changes</button>
    </div>
</div>