<h1>Traqq</h1>
<div class="profile clearfix">
    <aside>
        <img ng-if="ctrl.profile.picture" ng-src="{{ctrl.profile.picture}}">
        <h2>{{ctrl.profile.name}}</h2>
    </aside>
    <div class="profile-details clearfix">
        <div class="flex">
            <a href="" class="all-deals" ng-click="$state.go('deal-list')">
                <small>All My Deals</small>
                <h2>{{ctrl.formatMoney(ctrl.allMyDeals)}}</h2>
            </a>
            <div class="new-deals">
                <small>New Deals</small>
                <h2>{{ctrl.formatMoney(ctrl.activeDeals)}}</h2>
            </div>
        </div>
        <a href="" class="dash-next-steps" ng-click="$state.go('next-steps')">
            <span>{{ctrl.dealsNextWithoutStepsCount}}</span>
            <div class="text">
                <small>Deals without next steps</small>
                <small class="go-to">go to next steps</small>
            </div>
        </a>
        <a href="" class="dash-next-steps" ng-click="$state.go('next-steps')">
            <span>{{ctrl.incompleteNextSteps}}</span>
            <div class="text">
                <small>next steps</small>
                <small class="go-to">go to next steps</small>
            </div>
        </a>
    </div>
</div>
