<h1>Traqq</h1>
<div class="profile clearfix">
    <aside>
        <img ng-if="ctrl.profile.picture" ng-src="{{ctrl.profile.picture}}">
        <h2>{{ctrl.profile.first_name}} {{ctrl.profile.last_name}}</h2>
    </aside>
        <div class="profile-details clearfix">
            <div class="flex">
                <a href="" class="all-deals" ng-click="$state.go('deal-list')">
                    <small>All My Deals</small>
                    <h2>{{ctrl.formatMoney(ctrl.allMyDeals) | limitTo: 16 }}</h2>
                    <a class="deals-this-quarter" ui-sref="edit-close-date({deal_id: ctrl.deal.id, close_date: ctrl.deal.close_date})">
                        <small>Deals this Quarter</small>
                        <h2>{{ctrl.formatMoney(ctrl.dealsThisQuarter) | limitTo: 16 }}</h2>
                    </a>
                </a>
            </div>
            <div class="flex-with-line">
                <div class="start-of-fiscal">
                    <small>Start of Fiscal Year</small>
                    <h2>{{ctrl.fiscalYearStartMonth}} {{ctrl.fiscalYearStartDate}}</h2>
                </div>
                <div class="new-deals">
                    <small>Current Quarter</small>
                    <h2>{{ctrl.formatQuarter(ctrl.currentQuarterStart)}} - {{ctrl.formatQuarter(ctrl.currentQuarterEnd)}}</h2>
                </div>
            </div>

        <loading ng-show="ctrl.dataLoading" message="Getting Deal Counts"></loading>

        <div ng-if="!ctrl.dataLoading">
        <a href="" class="dash-next-steps" ui-sref="next-steps({nextStepState: 'false'})">
            <span>{{ctrl.dealsNextWithoutStepsCount}}</span>
            <div class="text">
                <small>Deals without next steps</small>
                <small class="go-to">go to next steps</small>
            </div>
        </a>
        <a href="" class="dash-next-steps" ng-click="$state.go('next-steps')">
            <span>{{ctrl.nextStepsCount}}</span>
            <div class="text">
                <small>next steps</small>
                <small class="go-to">go to next steps</small>
            </div>
        </a>
        </div>
    </div>
</div>
