/* DEAL DETAIL ----------------------------
-------------------------------------------*/
.deal-title {
  small {
    margin-left: 22px;
  }
  .deal-owner {
    display: none;
  }
}

.deal-detail.white {
  background: #fff;
  .site-wrap {
    background: #fff;
  }
}

.deal-detail {
  border-bottom: 1px solid $col-grey-stroke;
  aside {
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid $col-grey-stroke;
    img {
      margin-bottom: 10px;
      max-width: 160px;
      width: 100%;
    }
    .favorite {
      display: block;
      width: 40px;
      margin: 15px auto 0 auto;
      cursor: pointer;
      transition: color 0.4s ease;
      color: $col-grey-stroke;
      &:before {
        @include fa;
        @include fa(star);
        @include fa-size(4rem);
      }
      &.active {
        color: $col-blue;
      }
    }
  }
  .deal-details {
    border-left: 1px solid $col-grey-stroke;
    small {
      text-align: center;
      display: block;
      margin-bottom: 5px;
    }
    h2 {
      text-align: center;
    }
  }
  .close-date, .account-value, .forecast, .stage {
    padding: 20px 0 15px 0;
    border-top: 1px solid $col-grey-stroke;
    width: 50%;
  }
  .account-value, .close-date, &-next-step {
    cursor: pointer;
    small {
      color: $col-orange;
      font-weight: 700;
      &:hover {
        color: $col-orange-active;
      }
      &:after {
        @include fa;
        @include fa(caret-right);
        @include fa-size(1.8rem);
        @include fa-left(5px);
      }
    }
    h2 {
      color: $text-primary;
    }
  }
  .close-date, .stage {
    border-left: 1px solid $col-grey-stroke;
  }
  &-next-step {
    text-align: center;
    padding: 20px;
    border-top: 1px solid $col-grey-stroke;
    display: block;
    p {
      margin-top: 10px;
      line-height: 2rem;
      &:first-letter {
        text-transform: capitalize;
      }
    }
  }
  .salesforce-button {
    border-top: 1px solid $col-grey-stroke;
    padding: 30px 0;
    background: $col-grey;
    text-align: center;
    button {
      width: 300px;
      margin-top: 8px;
    }
  }
  .view-deal {
    display: block;
    margin-top: 20px;
    font-weight: 700;
    color: #4bb5e9;
    &:hover {
      color: #48a5d3;
    }
  }
}
.salesforce-grid {
  width: 310px;
  margin: auto;
}


/* MEDIA QUERIES ----------------------------
 --------------------------------------------*/

/* max-width 767 --------------------------*/
@media only screen and (max-width: 767px) {
  .deal-title {
    background: $col-grey;
    text-align: center;
    padding: 10px 0;
    position: relative;
    border-bottom: 1px solid $col-grey-stroke;
    .favorite-mobile {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: #d6d6d6;
      cursor: pointer;
      &:before {
        @include fa;
        @include fa(star);
        @include fa-size(3.5rem);
      }
      &.active{
        color: $col-blue;
      }
    }
    small {
      margin: 0 0 5px 0;
      display: block;
    }
    h1 {
      position: static;
      transform: none;
      color: $text-primary;
      width: 70%;
      margin: 0 auto;
    }
    .account {
      position: absolute;
      top: -34px;
      color: #fff;
      text-transform: none;
      font-size: 1.8rem;
      letter-spacing: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 0;
      display: block;
    }
    .deal-owner {
      margin: 10px auto 0 auto;
      display: block;
      width: 70%;
    }
  }

  .deal-detail {
    aside {
      padding: 0;
      border-top: none;
      img, small {
        display: none;
      }
      h2 {
        display: none;
      }
      .favorite {
        display: none;
      }
    }
    .deal-details {
      border-left: none;
      .account-value, .close-date {
        border-top: none;
      }
      .salesforce-button {
        border-left: none;
        padding: 20px 0;
        button.salesforce {
          width: 300px;
        }
      }
    }
  }
}


/* max-width 420 --------------------------*/
@media only screen and (max-width: 420px) {
  .deal-detail h2 {
      font-size: 1.4rem;
  }
}
