@import "../../../node_modules/susy/sass/_susy.scss";

$susy: (
        columns: 12,
        gutters: 1/4,
        math: fluid,
        output: float,
        gutter-position: split,
);




main, .wrapper {
  @include container(100% border-box);
  @include pad(20px);
}

header {
  .logo {
    @include span(2 no-gutter);
  }
}






/* DISTRICT LIST ---------------------------
-------------------------------------------*/
.row {
  .details {
    @include span(85% no-gutter border-box);
  }
}




/* PROFILE --------------------------------
-------------------------------------------*/
.profile, .deal-detail {
  aside {
    @include span(25% no-gutter border-box);
  }
  .details {
    @include span(75% no-gutter border-box);
    .all-deals, .active-deals {
      @include span(50% no-gutter border-box);
    }
    .unanswered-questions, .incomplete-steps {
      @include span(100% no-gutter border-box);
      span {
        @include span(45% no-gutter border-box);
      }
      .text {
        @include span(55% no-gutter border-box)
      }
    }
    .playbook {
      @include span(100% no-gutter border-box);
    }
    .virtual-team {
      .questions {
        @include span(10 of 12 no-gutter border-box);
        @include push(1);
        small {
          @include span(7.1 of 10 no-gutter border-box);
        }
        .answered, .asked {
          @include span(1.55 of 10 no-gutter);
        }
      }
    }
  }
}





/* SETTINGS -------------------------------
-------------------------------------------*/
.profile {
  .settings {
    @include span(75% no-gutter border-box);
  }
}






/* DEAL DETAIL ----------------------------
-------------------------------------------*/
.deal-detail {
  aside {
    @include span(25% no-gutter border-box);
  }
  .details {
    @include span(75% no-gutter border-box);
    .deal-numbers, .plays, .deal-btns {
      @include span(50% no-gutter border-box);
    }
    .salesforce-button {
      @include span(100% no-gutter border-box);
    }
  }
}











/* MEDIA QUERIES --------------------------
-------------------------------------------*/
@media only screen and (max-width: 767px) {
  main, .wrapper {
    @include pad(0);
  }

  .row {
    aside {
      @include span(20% no-gutter border-box);
    }
    .details {
      @include span(80% no-gutter border-box);
    }
  }

  .profile {
    aside {
      @include span(100% no-gutter border-box);
    }
    .details {
      @include span(100% no-gutter border-box);
      .all-deals, .active-deals, .qualify, .campaign {
        @include span(50% no-gutter border-box);
      }
      .unanswered-questions, .incomplete-steps {
        @include span(100% no-gutter border-box);
        span {
          @include span(35% no-gutter border-box);
        }
        .text {
          @include span(65% no-gutter border-box)
        }
      }
      .virtual-team {
        .questions {
          @include span(100% no-gutter border-box);
          @include push(0);
          small {
            @include span(7.1 of 10 no-gutter border-box);
          }
          .answered, .asked {
            @include span(1.55 of 10 no-gutter);
          }
        }
      }
    }
  }

  .deal-detail {
    .details {
      @include span(100% no-gutter border-box);
      .activity, .plays, .salesforce-button, .deal-btns {
        @include span(100% no-gutter border-box);
        float: none;
      }
      .virtual-team {
        .questions {
          @include span(100% no-gutter border-box);
          @include push(0);
          small {
            @include span(7.1 of 10 no-gutter border-box);
          }
          .answered, .asked {
            @include span(1.55 of 10 no-gutter);
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 320px) {
  .profile, .deal-detail {
    .details {
      .virtual-team {
        .questions {
          @include span(100% no-gutter border-box);
          @include push(0);
          @include pad(10px);
          small {
            @include span(8 no-gutter border-box);
          }
          .answered, .asked {
            @include span(2 no-gutter border-box);
          }
        }
      }
    }
  }
}
