/* DEFAULT HEADER --------------------------
-------------------------------------------*/
header {
  padding: 0;
  background: $col-orange;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  .hamburger {
    display: none;
    position: absolute;
    top: 10px;
    left: 15px;
    &:before {
      @include fa;
      @include fa(bars);
      @include fa-size(2.5rem);
      color: #fff;
    }
  }
  .logo {
    background: $logo-background-url;
    text-indent: -9999px;
    width: 50px;
    height: 41px;
    display: block;
    margin: 10px 0;
  }
  nav {
    ul {
      float: right;
      li {
        text-align: center;
        float: left;
        &.more:hover {
          .more-nav {
           display: block;
          }
        }
        a {
          color: #fff;
          display: block;
          position: relative;
          padding: 10px 27px;
          &:hover, &.active {
            background: $col-orange-active;
            color: #fff;
          }
          &:before {
            display: block !important;
            margin-bottom: 5px;
          }
          &.home:before {
            @include fa;
            @include fa(home);
            @include fa-size(1.6em);
          }
          &.deals:before {
            @include fa;
            @include fa(flag);
            @include fa-size(1.6em);
          }
          &.next:before {
            @include fa;
            @include fa(check-circle);
            @include fa-size(1.6em);
          }
          &.sync:before {
            @include fa;
            @include fa(refresh);
            @include fa-size(1.6em);
          }
          &.more-icon {
            &:before {
              @include fa;
              @include fa(ellipsis-h);
              @include fa-size(1.6em);
            }
          }
          span {
            position: absolute;
            background: $salesforce;
            bottom: 7px;
            left: 60px;
            border-radius: 15px;
            padding: 3px;
            min-width: 14px;
          }
        }
      }
    }
  }
  .more-nav {
    display: $more-link-display;
    background: #646464;
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 61px;
    width: 200px;
    li {
      float: none;
      text-align: left;
      border-bottom: 1px solid #747474;
      &:last-child {
        border-bottom: none;
        a {
          padding: 14px 15px;
        }
      }
      a {
        padding: 10px 25px 10px 15px;
        &:hover, &.active {
          color: $col-orange;
          background: none;
        }
        &:before {
          display: inline-block !important;
        }
        &.favorites:before {
          @include fa;
          @include fa(star);
          @include fa-size(1.3em);
          @include fa-right(7px);
        }
        &.settings {
          border-left: none;
          &:before {
            @include fa;
            @include fa(cog);
            @include fa-size(1.3em);
            @include fa-right(7px);
          }
        }
        &.logout {
          background: #545454;
        }
      }
    }
  }
}



/* BACK HEADER ----------------------------
-------------------------------------------*/
header.back {
  height: 61px;
  .back-btn {
    display: none;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    &:before {
      @include fa;
      @include fa(caret-left);
      @include fa-size(2em);
      color: #fff;
    }
  }
}



/* HAMBURGER MENU --------------------------
-------------------------------------------*/
.mobile-nav {
  display: none;
  list-style: none;
  width: 100%;
  height: calc(100% - 46px);
  position: fixed;
  top: 46px;
  bottom: 0;
  left: -150%;
  background: rgba(100, 100, 100, 1);
  transition: all .5s ease;
  overflow-y: auto;
  &.active {
    left: 0;
  }
  li {
    float: none;
    text-align: left;
    font-size: 1.1rem;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #747474;
    &:last-child {
      a {
        padding: 18px 15px;
      }
    }
    a {
      display: block;
      padding: 12px 15px;
      color: #fff;
      &:hover, &.active {
        color: $col-orange !important;
        background: none;
      }
      &:before {
        display: inline-block !important;
      }
      &.home:before {
        @include fa;
        @include fa(home);
        @include fa-size(2rem);
        @include fa-right(7px);
      }
      &.deals:before {
        @include fa;
        @include fa(flag);
        @include fa-size(2rem);
        @include fa-right(7px);
      }
      &.favorites:before {
        @include fa;
        @include fa(star);
        @include fa-size(2rem);
        @include fa-right(7px);
      }
      &.feed:before {
        @include fa;
        @include fa(inbox);
        @include fa-size(2rem);
        @include fa-right(7px);
      }
      &.next-steps:before {
        @include fa;
        @include fa(check-circle);
        @include fa-size(2rem);
        @include fa-right(7px);
      }
      &.ask {
        text-align: left;
        &:before {
          @include fa;
          @include fa(comment);
          @include fa-size(2rem);
          @include fa-right(7px);
        }
      }
      &.settings {
        border-left: none;
        &:before {
          @include fa;
          @include fa(cog);
          @include fa-size(2rem);
          @include fa-right(7px);
        }
      }
      &.sync {
        color: $salesforce;
        position: relative;
        &:hover {
          color: $col-orange;
        }
        &:before {
          @include fa;
          @include fa(refresh);
          @include fa-size(2rem);
          @include fa-right(7px);
        }
        span {
          position: absolute;
          background: $salesforce;
          top: 13px;
          left: 190px;
          text-align: center;
          color: #fff;
          border-radius: 15px;
          padding: 3px;
          min-width: 14px;
          bottom: inherit;
        }
      }
      &.logout {
        background: #545454;
      }
    }
  }
}


/* LOGIN SCREENS HEADER --------------------
-------------------------------------------*/
header.logo-nav {
  padding: 10px 0;
  .logo {
    background: $logo-background-url;
    margin: 0 auto;
    float: none;
    width: 50px;
    height: 41px;
  }
}




/* MEDIA QUERIES ---------------------------
-------------------------------------------*/

/* max-width-------------------------------*/
@media only screen and (min-width: 1415px) {
  .more-nav {
    right: auto !important;
  }
}

/* max-width 767 --------------------------*/
@media only screen and (max-width: 767px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
    height: 46px;
    .hamburger {
      display: block;
    }
    .logo {
      width: 43px;
      height: 36px;
      margin: 5px 0 0 0;
      right: 10px;
      top: 0;
      transform: none;
      left: inherit;
    }
    &.back {
      height: 46px;
      padding-left: 20px;
      .logo {
        top: 0;
        right: 10px;
        left: inherit;
        -webkit-transform: none;
        transform: none;
        position: absolute;
      }
      .back-btn {
        display: block;
      }
    }
    .main-nav {
      display: none;
    }
  }

  .mobile-nav {
    display: block;
  }

  label[for="nav-trigger"] {
    display: block;
  }

  header.logo-nav {
    padding: 5px 0;
    height: 46px;
    box-sizing: border-box;
    .logo {
      background: $logo-background-url;
      margin: 0 auto;
      float: none;
      width: 43px;
      height: 36px;
    }
  }

}


