
/* IMPORT SCREENS --------------------------
-------------------------------------------*/
.import-title {
  display: block;
  text-align: center;
  .salesforce {
    width: 300px;
  }
}

.import {
  margin-top: 30px;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $col-grey-stroke;
  &-row {
    position: relative;
    border-bottom: 1px solid $col-grey-stroke;
    padding: 15px 10px;
    &:first-child {
      border-top: 1px solid $col-grey-stroke;
    }
  }
  &-details {
    width: 70%;
    h2 {
      color: $col-orange;
    }
    p {
      margin-bottom: 10px;
    }
    small {
      display: block;
    }
  }
  .amount {
    position: absolute;
    right: 10px;
    top: 15px;
  }
}






/* MEDIA QUERIES ---------------------------
-------------------------------------------*/

/* max-width 767 --------------------------*/
@media only screen and (max-width: 767px) {
  .import-title {
    background: $col-grey;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $col-grey-stroke;
    .salesforce {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }

  .import {
    margin-top: 0;
    width: 100%;
    &-row {
      padding: 10px;
      &:first-child {
        border-top: none;
      }
    }
    &-details {
      width: 70%;
    }
    .amount {
      top: 10px;
    }
  }
}
