.fiscalYearSelect {
  color: #888;
  background: #fff;
  border: 1px solid #dbdbdb;
  position: relative;
  width: 160px;
  height: 30px;
  padding: 0 10px;
  margin-right: 10px;
  cursor: pointer;
}

.fiscalYearButton {
  margin: 25px auto;
}

.fiscalYearSelectHeading {
  margin-right: 230px;
  padding-top: 35px;
}

.fiscalYearMessage {
  max-width: 340px;
  margin: auto;
  padding-top: 18px;
}
