.sync {
  &-all-btn {
    background: $col-grey;
    padding: 10px 0;
    border-bottom: 1px solid $col-grey-stroke;
    margin-top: -50px;
    button {
      background: #4bb5e9;
      border: 1px solid #48a5d3;
      width: 300px;
      margin: 0 auto;
      display: block;
      &:hover {
        background: #2fa5df;
        color: #fff;
      }
    }
  }
}

.syncing {
  text-align: center;
  h2 {
    &:before {
      @include fa;
      @include fa(refresh);
      @include fa-size(2.4rem);
      @include fa-right(7px);
      color: $salesforce;
    }
  }
}



/* MEDIA QUERIES --------------------------
-------------------------------------------*/

/* max-width 768 --------------------------*/
@media only screen and (max-width: 768px) {
  .sync {
    &-all-btn {
      margin-top: 0;
    }
  }
}
