/* TABS -----------------------------------
-------------------------------------------*/
.tabs {
  width: 100%;
}

.tabs:after {
  content: '';
  display: table;
  clear: both;
}

.tabs input[type=radio] {
  display:none;
}

.tabs label {
  float: left;
  padding: 10px 0;
  width: 50%;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $col-orange;
  background: $col-orange-highlight;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid $col-grey-stroke;
  box-sizing: border-box;
}

label[for=tab2] {
  border-left: 1px solid $col-grey-stroke;
}

.tabs [id^="tab"]:checked + label {
  background: #fff;
  color: $text-light;
  border-bottom: none;
}

#tab1:checked ~ #tab-content1,
#tab2:checked ~ #tab-content2,
#tab3:checked ~ #tab-content3 {
  display: block;
}

.tab-content {
  display: none;
  width: 100%;
  float: left;
  box-sizing: border-box;
  background-color:#ffffff;
}