<div class="get-started">
    <div>
    <h2>Enter Email Verification Code</h2>
    <div ng-if="ctrl.invalidCode">
        <h1 class="email-error">Verification Code is invalid or expired!</h1>
        <div class="email-error">
        </div>
    </div>
    <div>
        <p>
            <small class="error-list" ng-if="login_form.email.$invalid && !login_form.email.$pristine">Verification Code required!</small>
            <input type="text" name="verifyCode" ng-model="ctrl.verifyCode" ng-change="ctrl.reValid()" required placeholder="Verification Code"/>
        </p>
        <button ng-click="ctrl.verify()">Verify</button>
    </div>
</div>

