<div class="get-started">
    <div ng-if="ctrl.showGetStarted">
    <h2>Account Created!</h2>
    <p>Knowing the right questions to ask is the start of a successful campaign. Traqq allows you to do just that.</p>
    <button class="submit get-started" ng-click="ctrl.getStarted()">Login to Get Started</button>
    </div>
    <loading ng-show="ctrl.verifying" message="Verifying…"></loading>
    <div ng-if="ctrl.error">
        <h1 class="email-error">Link invalid or expired!</h1>
        <div class="email-error">
        <button ui-sref="registration">Back to Registration</button>
        </div>
    </div>
</div>

