<div class="get-started">
    <div>
    <h2>Enter Email Verification Code</h2>
    <div ng-if="ctrl.invalidCode">
        <h1 class="email-error">Verification Code is invalid or expired!</h1>
        <div class="email-error">
        </div>
    </div>
    <div>
        <p>
            <small class="error-list" ng-if="login_form.email.$invalid && !login_form.email.$pristine">Verification Code required!</small>
            <input type="text" name="verifyCode" ng-model="ctrl.verifyCode" ng-change="ctrl.reValid()" required placeholder="Verification Code"/>
        </p>
        <button ng-click="ctrl.verify()">Verify</button>
    </div>
</div>
    <div class="registration-confirmation">
        <a class="resend-email" ng-click="ctrl.resendVerification()" ng-show="ctrl.resendEnabled">Resend Verification Email</a>
        <p class="email-success" ng-show="ctrl.verificationSent">Verification Email Sent!</p>
        <p class="email-wait" ng-show="ctrl.showCountdown"> Please wait {{ctrl.countDown}} to resend email</p>
        <div class="email-error" ng-show="ctrl.sendError">
            <p>Error: Verification email couldn't be sent. Please register again.</p>
            <button ui-sref="registration">Back to Registration</button>
        </div>
    </div>

