<div class="sync">
    <div class="sync-all-btn">
        <button class="submit" type="submit" ng-click="ctrl.syncUpdates()" ng-disabled="ctrl.isSyncing || ctrl.noUpdates">Sync All Updates</button>
    </div>
    <div class="tabs">
        <input type="radio" name="tabs" id="tab1" checked >
        <label for="tab1" ng-click="ctrl.fromShow()" ng-class="{active: ctrl.fromActive}">From Salesforce</label>

        <input type="radio" name="tabs" id="tab2">
        <label for="tab2" ng-click="ctrl.toShow()" ng-class="{active: ctrl.toActive}">To Salesforce</label>

        <div id="tab-content1" class="tab-content">
            <!-- display when checking for updates -->
            <div class="sync-header"  ng-if="ctrl.isSyncing">
                <h1 class="syncing">Getting Updates from Salesforce</h1>
                <img src="../media/images/syncing.gif">
            </div>

            <!-- display when updates are found -->
            <div ng-if="ctrl.fromSalesforceDeals.length">
            <div class="updates-header">
                <h1>Salesforce Updates</h1>
                <p>Salesforce found {{ctrl.updatesNumber}} deals not in Traqq</p>
                <button>Sync Salesforce Updates</button>
            </div>
            <div ng-repeat="deal in ctrl.fromSalesforceDeals" class="update">
                <h2><a ui-sref="deal-detail({deal_id: deal.id})">{{deal.name}}</a></h2>
                <p>Owner | {{deal.owner}}</p>
                <small>Close {{deal.close_date | date:"MM/dd/yyyy"}}</small>
                <h2 class="account-value">{{ctrl.formatMoney(deal.account_value)}}</h2>
            </div>
            </div>

            <!-- display after user syncs updates -->
            <div class="sync-header" ng-if="!ctrl.fromSalesforceDeals.length && ctrl.isSyncing">
                <h1>Traqq is up to date with Salesforce</h1>
            </div>

        </div>

        <div id="tab-content2" class="tab-content">

            <!-- display when checking for updates -->
            <div class="sync-header" ng-if="ctrl.noUpdates">
                <h1>Salesforce is up to date with Traqq</h1> <!-- display after user syncs updates -->
            </div>

            <div ng-if="!ctrl.toUpdatesFound">
            <!-- display when updates are found -->
            <div class="updates-header">
                <h1>Traqq Updates</h1>
                <p>You have changes in Traqq that haven't been synced to Salesforce yet.</p>
                <button>Sync Traqq Updates</button>
            </div>

            <div ng-repeat="deal in ctrl.toSalesforceDeals">
            <small class="deal-header">{{deal.name}}</small>
            <div class="update">
                <small>account value</small>
                <h2>{{ctrl.formatMoney(deal.account_value)}}</h2>
                <a class="edit" ui-sref="deal-detail-edit({deal_id: deal.id})">edit</a>
            </div>
                <div class="update">
                    <small>Next Step</small>
                    <h2>{{deal.next_step}}</h2>
                    <a class="edit" ui-sref="edit-next-step{deal_id: deal.id})">edit</a>
                </div>
            </div>

          </div>
        </div>
    </div>
</div>

