<div class="wrapper">
    <a class="back-btn" href="#" back-button></a>
    <a class="logo" ui-sref="root.profile">Traqq</a>
    <nav role="navigation">
        <ul class="clearfix">
            <li><a ui-sref-active-eq="active" class="feed" ui-sref="root.feed">Feed</a></li>
            <li><a ui-sref-active-eq="active" class="deals" ui-sref="root.deals">Deals</a></li>
            <li><a ui-sref-active-eq="active" class="next" ui-sref="root.coming-soon">Next Step</a></li>
            <li><a ui-sref-active-eq="active" class="ask" ui-sref="root.ask-deal">Ask</a></li>
            <li class="more"><a ui-sref-active-eq="active" class="more-icon">More</a>
                <ul class="more-nav">
                    <li><a ui-sref-active-eq="active" class="favorites">Favorites</a></li>
                    <li><a ui-sref-active-eq="active" class="settings">Settings</a></li>
                    <li><a ui-sref-active-eq="active" class="sync">Sync with Salesforce</a></li>
                    <li><a ui-sref-active-eq="active" class="logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

