<div class="wrapper">
    <a class="logo" ui-sref="root.feed">Traqq</a>
    <nav role="navigation">
        <ul class="clearfix">
            <li><a ui-sref-active-eq="active" class="feed" ui-sref="root.feed">Feed</a></li>
            <li><a ui-sref-active-eq="active" class="deals" ui-sref="root.deals">Deals</a></li>
            <li><a ui-sref-active-eq="active" class="next" ui-sref="root.coming-soon">Next Step</a></li>
            <li><a ui-sref-active-eq="active" class="ask" ui-sref="root.ask-deal">Ask</a></li>
        </ul>
    </nav>
</div>
