<nav>
    <ul class="clearfix">
        <li><a ng-class="{active: ctrl.FeedActive}" id="footer-feed" href="#" class="feed" ui-sref="root.feed">Feed</a></li>
        <li><a ng-class="{active: ctrl.DealsActive}" id="footer-deals" class="deals" ui-sref="root.deals">Deals</a></li>
        <li><a ng-class="{active: ctrl.NSActive}" id="footer-NS" class="next"  ui-sref="root.coming-soon">Next Step</a></li>
        <li><a ng-class="{active: ctrl.AskActive}" id="footer-profile"  class="ask" ui-sref="root.ask-deal">Ask</a></li>
    </ul>
</nav>
