<ul class="mobile-nav">
    <li><a class="home" href="#">Home</a></li>
    <li><a class="deals" ui-sref="root.deals">Deals</a></li>
    <li><a ui-sref-active-eq="active" class="favorites">Favorites</a></li>
    <li><a class="feed" ui-sref="root.feed">Feed</a></li>
    <li><a class="next-steps" ui-sref="root.coming-soon">Next Steps</a></li>
    <li><a class="ask" ui-sref="root.ask-questions">Ask</a></li>
    <li><a ui-sref-active-eq="active" class="settings" ui-sref="root.settings">Settings</a></li>
    <li><a ui-sref-active-eq="active" class="sync" ng-click="ctrl.syncSalesforce()" href="#">Sync with Salesforce</a></li>
    <li><a ui-sref-active-eq="active" class="logout" ng-click="ctrl.logOut()" href="#">Logout</a></li>
</ul>

<input ng-if="!$state.includes('root.login') && !$state.includes('root.registration')" type="checkbox" id="nav-trigger" class="nav-trigger" />
<label ng-if="!$state.includes('root.login') && !$state.includes('root.registration')" for="nav-trigger"></label>
<div class="site-wrap">
<header ng-class="$state.current.data.headerClasses" ui-view="header"></header>

<main ui-view="container"></main>

<footer ng-class="$state.current.data.footerClasses" ui-view="footer"></footer>
</div>

