<div class="deal-title">
    <span class="favorite-mobile"></span>
    <small class="account" ng-bind="ctrl.deal.company_name"></small>
    <h1 ng-bind="ctrl.deal.name"></h1>
    <small class="deal-owner">Deal Owner: {{ctrl.deal.owner.data.first_name}} {{ctrl.deal.owner.data.last_name}}</small>
</div>

<div class="deal-detail clearfix">
    <aside>
        <img ng-src="{{ctrl.deal.owner.data.picture}}">
        <h2 ng-bind="ctrl.deal.owner.data.name"></h2>
        <small>Deal Owner</small>
        <span ng-click="ctrl.favorite(deal)" class="favorite" ng-class="{ active: ctrl.deal.favorite }"></span>
    </aside>
    <div class="deal-details clearfix">
        <div class="flex">
            <a class="account-value" ui-sref="edit-amount({deal_id: ctrl.deal.id, amount: ctrl.deal.amount})">
                <small>Amount</small>
                <h2 ng-bind="ctrl.amount"></h2>
            </a>
            <a class="close-date" ui-sref="edit-close-date({deal_id: ctrl.deal.id, close_date: ctrl.deal.close_date})">
                <small>Close Date</small>
                <h2 ng-bind="ctrl.close_date"></h2>
            </a>
        </div>
        <div class="flex">
            <div class="forecast">
                <small>Forecast</small>
                <h2 ng-bind="ctrl.deal.forecast"></h2>
            </div>
            <div class="stage">
                <small>Stage</small>
                <h2 ng-bind="ctrl.deal.stage"></h2>
            </div>
        </div>
        <a class="deal-detail-next-step" ng-show="ctrl.deal.next_step" ui-sref="edit-next-step({deal_id: ctrl.deal.id, next_step: ctrl.deal.next_step})">
            <small>Next Step</small>
            <p ng-bind="ctrl.deal.next_step"></p>
        </a>
        <a class="deal-detail-next-step" ui-sref="edit-next-step({deal_id: ctrl.deal.id, next_step: ctrl.deal.next_step})" ng-show="!ctrl.deal.next_step">
            <small>Set Next Step</small>
        </a>
        <div class="salesforce-button">
            <div class="salesforce-grid">
            <button class="submit" ui-sref="deal-detail-edit({deal_id: ctrl.deal.id, deal: ctrl.deal})">Edit Deal</button>
            <button class="sync-with-salesforce" ng-click="ctrl.syncWithSalesforce()">Sync with Salesforce</button>
            <a class="view-deal" href="" ng-click="ctrl.viewDealSalesforce()">View Deal in Salesforce</a>
            </div>
        </div>
        <div class="virtual-team clearfix" ng-if="ctrl.extended_team.length">
            <small>Extended Team</small>
            <div ng-repeat="team_mate in ctrl.extended_team" class="questions clearfix">
                <small>{{team_mate.name}}</small>
                <div class="answered {{ctrl.answerCountIsZero(team_mate)}}">{{team_mate.answer_count}}</div>
                <div class="asked">{{team_mate.question_count}}</div>
            </div>
        </div>
    </div>
</div>



