$logo-background-url: url(/media/images/logo.svg) no-repeat;
 $more-link-display: none;
 $salesforce-logo-location :url(/media/images/salesforce-logo.png) no-repeat;
 $salesforce-logo-2x: url(/media/images/salesforce-logo@2x.png) no-repeat;
 $col-orange-dependent: #e05b03;