// Background Colors
$col-orange: #f77600;
$col-orange-active: #e05b03;
$col-orange-highlight: #feebd9;

$col-red: #c63f1e;
$col-green: #7e9d1f;
$col-dk-green: #586e16;

$col-blue: #488dce;
$col-med-blue: #8cb9e1;
$col-lt-blue: #b9d5ef;

$col-grey: #e5e5e5;
$col-grey-alt: #e3e3e3;
$col-grey-stroke: #dbdbdb;

$salesforce: #4bb5e9;
$salesforce-border: #48a5d3;
$salesforce-hover: #2fa5df;

// Text Colors
$text-primary: #4c4c4c;
$text-light: #888;
