<div class="wrapper">
    <h1 class="logo">Traqq</h1>
    <nav class="main-nav" role="navigation">
        <ul class="clearfix">
            <li><a ui-sref-active-eq="active" class="home" ui-sref="dashboard">Home</a></li>
            <li><a ui-sref-active-eq="active" class="deals" ui-sref="deal-list">Deals</a></li>
            <li><a ui-sref-active-eq="active" class="next" ui-sref="next-steps">Next Step</a></li>
            <li><a ui-sref-active-eq="active" class="sync" ui-sref="sync">Sync <span>5</span></a></li>
            <li class="more"><a ui-sref-active-eq="active" class="more-icon">More</a>
                <ul class="more-nav">
                    <li><a ui-sref-active-eq="active" class="favorites" ui-sref="favorites">Favorites</a></li>
                    <li><a ui-sref-active-eq="active" class="settings" ui-sref="settings">Settings</a></li>
                    <li><a ui-sref-active-eq="active" class="logout" ng-click="ctrl.logOut()" href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>


