<div class="wrapper">
    <a class="hamburger" href="" ng-click="ctrl.clicked()"></a>
    <h1 class="logo">Traqq</h1>
    <nav class="main-nav" role="navigation">
        <ul class="clearfix">
            <li><a ui-sref-active-eq="active" class="home" ui-sref="dashboard">Home</a></li>
            <li><a ui-sref-active-eq="active" class="deals" ui-sref="deal-list">My Deals</a></li>
            <li><a ui-sref-active-eq="active" class="next" ui-sref="next-steps">Next Steps</a></li>
            <li><a ui-sref-active-eq="active" class="sync" ui-sref="sync">Sync <span ng-bind="ctrl.getSyncCount()"></span></a></li>
            <li class="more"><a ui-sref-active-eq="active" class="more-icon" ng-click="ctrl.moreClicked()">More</a>
                <ul class="more-nav" ng-show="ctrl.moreShown">
                    <li><a ui-sref-active-eq="active" class="favorites" ui-sref="favorites">Favorites</a></li>
                    <li><a ui-sref-active-eq="active" class="settings" ui-sref="settings">Settings</a></li>
                    <li><a ui-sref-active-eq="active" class="logout" ng-click="ctrl.logOut()" href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <ul class="mobile-nav" ng-class="{active: ctrl.MenuClicked}">
      <li><a ui-sref-active-eq="active" class="home" ui-sref="dashboard" ng-click="ctrl.clicked()">Home</a></li>
      <li><a ui-sref-active-eq="active" class="deals" ui-sref="deal-list" ng-click="ctrl.clicked()">My Deals</a></li>
      <li><a ui-sref-active-eq="active" ui-sref="favorites" class="favorites" ng-click="ctrl.clicked()">Favorites</a></li>
      <li><a ui-sref-active-eq="active" class="next-steps" ui-sref="next-steps" ng-click="ctrl.closeMenu()">Next Steps</a></li>
      <li><a ui-sref-active-eq="active" class="settings" ui-sref="settings" ng-click="ctrl.clicked()">Settings</a></li>
      <li><a ui-sref-active-eq="active" class="sync" ui-sref="sync" href="#" ng-click="ctrl.clicked()">Sync with Salesforce <span ng-bind="ctrl.getSyncCount()"></span></a></li>
      <li><a ui-sref-active-eq="active" class="logout" ng-click="ctrl.logOut()" href="#">Logout</a></li>
    </ul>
</div>


