<nav>
    <ul class="clearfix">
        <li><a ng-class="{active: ctrl.HomeActive}" ui-sref-active-eq="active" class="home" ui-sref="dashboard">Home</a></li>
        <li><a ng-class="{active: ctrl.DealsActive}" ui-sref-active-eq="active"  id="footer-deals" class="deals" ui-sref="deal-list">My Deals</a></li>
        <li><a ng-class="{active: ctrl.NSActive}" ui-sref-active-eq="active"  id="footer-NS" class="next"  ui-sref="next-steps">Next Steps</a></li>
        <li><a ng-class="{active: ctrl.SyncActive}" ui-sref-active-eq="active"  id="footer-Sync" class="sync"  ui-sref="sync">Sync <span ng-bind="ctrl.syncCount"></span></a></li>
    </ul>
</nav>
