<h1>Login</h1>
<form name="login_form" ng-submit="ctrl.login()">
    <small class="error-list" ng-repeat="error in ctrl.errorsList" >{{ error }}</small>
    <fieldset>
        <p>
            <small class="error" ng-if="login_form.email.$invalid && !login_form.email.$pristine">Email is required</small>
            <input type="text" name="email" ng-model="email" ng-disabled="ctrl.LSError == false" required placeholder="Email"/>
        </p>
        <p>
            <small class="error" ng-if="login_form.password.$invalid && !login_form.password.$pristine">Password is required</small>
            <input type="password" name="password" ng-model="password" ng-disabled="ctrl.LSError == false" required placeholder="Password"/>
        </p>
        <button class="submit" type="submit" ng-disabled="ctrl.LSError == false">Login</button>
    </fieldset>
</form>
<a class="forgot-pass" ui-sref="reset-password">Forgot your password?</a>
<p class="email-success" ng-show="ctrl.resetSuccess">Reset password email has been sent!</p>
<p class="email-error" ng-show="ctrl.resetFail">Error: Reset password email couldn't be sent.</p>
<div class="hr" ng-if="ctrl.LSError == true"></div>
<div class="register-text" ng-if="ctrl.LSError == true">
    <small>Don't have an account?</small>
    <a ui-sref="registration">Register for Free</a>
</div>
