<h1>Password Reset</h1>
<form name="registration_form" ng-submit="ctrl.reset()">
    <fieldset>
        <p>
        <label for="email">Email Address</label>
        <small class="error" ng-if="registration_form.email.$error.required && !registration_form.email.$pristine">Email field is required</small>
        <small class="error" ng-if="registration_form.email.$error.email && !registration_form.email.$pristine">Invalid email format</small>
        <input type="email" name="email" ng-model="email" id="email" required placeholder="Email" />
        </p>
        <button class="submit" type="submit" ng-disabled="registration_form.$invalid">Send Password Reset Link</button>
    </fieldset>

</form>




