<h1>Password Reset</h1>

<form name="password_reset_form" ng-submit="ctrl.save()">
    <div class="sync-header"  ng-if="ctrl.saving">
        <h1 class="syncing">Saving…</h1>
        <img src="../media/images/syncing.gif">
    </div>
    <fieldset>
        <p>
            <label for="pw1">Choose Password</label>
            <small class="error" ng-if="password_reset_form.password.$error.required && !password_reset_form.password.$pristine">Password field is required!</small>
            <input type="password" id="pw1" name="pw1" ng-model="pw1" ng-required="" placeholder='Password' />
        </p>
        <p>
            <label for="pw2">Confirm Password</label>
            <small class="error" ng-if="password_reset_form.confirm_password.$error.required && !password_reset_form.password.$pristine">Confirm password field required!</small>
            <small class="error" ng-show="password_reset_form.pw2.$error.pwmatch">Passwords don't match.</small>
            <input type="password" id="pw2" name="pw2" ng-model="pw2" ng-required="" pw-check="pw1" placeholder='Confirm Password' />
        </p>
        <button class="submit" type="submit" ng-disabled="password_reset_form.$invalid">Reset</button>
    </fieldset>
</form>




