<h1>My Deals</h1>
<div class="fixed">
    <div class="sort">
        <p>Sort by</p>
        <select class="selected" ng-model="ctrl.selectedSort">
            <option value="close_date">Close Date</option>
            <option value="amount">Deal Value</option>
            <option value="favorite">Favorite</option>
            <option value="name">Deal Name</option>
            <option value="next-steps">Next Steps</option>
        </select>
    </div>
</div>
<h2 class="endpoint-error" ng-if="!ctrl.deals">You don't have any deals in your account!</h2>
<div ng-repeat="deal in ctrl.deals | orderBy: ctrl.selectedSort" class="deal-list">
    <aside>
        <span ng-click="ctrl.favorite(deal)" class="favorite" ng-class="{ active: deal.favorite }"></span>
    </aside>
    <div class="details clearfix">
        <div class="text">
            <h2><a ui-sref="deal-detail({deal_id: deal.id})">{{deal.name}}</a></h2>
            <h2>{{ctrl.formatMoney(deal.amount)}}</h2>
        </div>
        <div class="close-date clearfix">
            <small ng-if="deal.close_date > ctrl.dateNow">closes {{deal.close_date | date:"MM/dd/yyyy"}}</small>
            <small class="overdue" ng-if="deal.close_date < ctrl.dateNow">Past Due {{deal.close_date | date:"MM/dd/yyyy"}}</small>
            <small class="caution" ng-if="deal.close_date == ctrl.dateNow">Due {{deal.close_date | date:"MM/dd/yyyy"}}</small>
        </div>
        <a ui-sref="deal-detail({deal_id: deal.id})" class="caret"></a>
    </div>
</div>






