<h1>My Deals</h1>
<div class="sort-by-dropdown">
    <small>Sort by </small>
    <select class="sort-picker" ng-model="ctrl.selectedSort">
        <option value="close_date">Close Date</option>
        <option value="account_value">Deal Value</option>
        <option value="favorite">Favorite</option>
        <option value="name">Deal Name</option>
    </select>
</div>
<div ng-repeat="deal in ctrl.deals | orderBy: ctrl.selectedSort" class="deal-list">
    <aside>
        <span ng-click="ctrl.favorite(deal)" class="favorite" ng-class="{ active: deal.favorite }"></span>
    </aside>
    <div class="details clearfix">
        <div class="text">
            <h2><a ui-sref="deal-detail({deal_id: deal.id})">{{deal.name}}</a></h2>
            <h2>{{ctrl.formatMoney(deal.account_value)}}</h2>
        </div>
        <div class="close-date clearfix">
            <small ng-if="deal.close_date > ctrl.dateNow">closes {{deal.close_date | date:"MM/dd/yyyy"}}</small>
            <small class="overdue" ng-if="deal.close_date < ctrl.dateNow">Past Due {{deal.close_date | date:"MM/dd/yyyy"}}</small>
            <small class="caution" ng-if="deal.close_date == ctrl.dateNow">Due {{deal.close_date | date:"MM/dd/yyyy"}}</small>
            <span class="deal-activity">12</span>
        </div>
        <a ui-sref="deal-detail({deal_id: deal.id})" class="caret"></a>
    </div>
</div>






