<h1>Edit</h1>
<div class="edit clearfix">
    <fieldset>
        <p>
            <small class="input-label">Next Step</small>
            <textarea cols="55" rows="7"></textarea>
        </p>
    </fieldset>
    <div class="sync-check">
        <input type="checkbox" name="syncChanges" ng-model="syncChanges" value="true" />Sync my changes to Salesforce
    </div>
    <div>
        <button class="submit edit-buttons" ui-sref="import-deals" ng-model="setNextStep">Cancel</button>
        <button class="submit edit-buttons" ui-sref="edit-next-step">Save Changes</button>
    </div>
</div>