<h1>Edit</h1>
<div class="edit clearfix">
    <form name="NextStepForm" ng-submit="ctrl.nextStep_submit()">
        <small>Next Step</small>
        <textarea cols="55" rows="7"></textarea>
        <input type="checkbox" name="syncChanges" ng-model="syncChanges" value="true" />Sync my changes to Salesforce
    </form>
    <button ui-sref="import-deals" ng-model="setNextStep" required placeholder="Set Next Step...">Cancel</button>
    <button  ui-sref="edit-next-step">Save Changes</button>
</div>