<div class="import-title">
    <small>Your salesforce deals</small>
    <button class="submit salesforce" type="submit" ng-click="ctrl.submit()">Import Deals from Salesforce</button>
</div>
<div class="import">
    <div ng-if="ctrl.noDealsToImport()">
        <h2>There are no deals to import</h2>
    </div>
    <div class="import-row">
        <div class="import-details">
            <h2>Sony Tech Refresh</h2>
            <p>Owner | Floyd Money</p>
            <small>Close 12/14/15</small>
        </div>
        <h2 class="amount">$450K</h2>
    </div>
    <div class="import-row">
        <div class="import-details">
            <h2>Sony Tech Refresh</h2>
            <p>Owner | Floyd Money</p>
            <small>Close 12/14/15</small>
        </div>
        <h2 class="amount">$450K</h2>
    </div>
</div>
