<div class="import-title">
    <small>Your salesforce deals</small>
    <button class="submit salesforce" type="submit" ng-click="ctrl.submit()" ng-disabled="ctrl.isSyncing && !ctrl.syncError">Import Deals from Salesforce</button>
</div>
<div class="import">
    <div class="sync-header" ng-if="ctrl.isSyncing && !ctrl.syncError">
        <h1>Importing Deals from Salesforce</h1>
        <img src="../media/images/syncing.gif">
    </div>
    <div ng-if="ctrl.noDealsToImport">
        <h1>There are no deals to import</h1>
    </div>
    <div ng-show="ctrl.syncError">
        <h1>Error Importing Deals!</h1>
    </div>
    <div ng-repeat="deal in ctrl.deals | orderBy: 'name'" class="import-row">
        <div class="import-details">
            <h2>{{deal.name}}</h2>
            <p>Owner | {{deal.owner}}</p>
            <small>Close {{deal.close_date}}</small>
        </div>
        <h2 class="amount">{{ctrl.formatMoney(deal.amount)}}</h2>
    </div>
</div>
