<div class="import-title">
    <small>Your salesforce deals</small>
    <button class="submit salesforce" type="submit" ng-click="ctrl.submit()">Import Deals from Salesforce</button>
</div>
<div class="import">
    <div ng-if="ctrl.noDealsToImport()">
        <h2>There are no deals to import</h2>
    </div>
    <div ng-repeat="deals in ctrl.deals" class="import-row">
        <div class="import-details">
            <h2>{{deal.name}}</h2>
            <p>Owner | {{deal.owner}}</p>
            <small>Close {{deal.close_date}}</small>
        </div>
        <h2 class="amount">{{deal.amount}}</h2>
    </div>
</div>
