<form class="deal-detail-edit">
    <h1>Edit</h1>
    <fieldset>
        <p>
            <small>Amount</small>
            <input type="number" name="email" ng-model="ctrl.deal.amount" id="amount" />
        </p>
        <p>
            <small>Close Date</small>
            <input type="date" name="close-date" ng-model="ctrl.deal.close_date" id="CloseDate" />
        </p>
        <p>
            <small>Next Step</small>
            <textarea cols="55" rows="7" ng-model="ctrl.deal.nextStep"></textarea>
        </p>
    </fieldset>
    <input id="sync-now" type="checkbox" name="syncChanges" ng-model="syncChanges" value="true" />
    <label for="sync-now">Sync my changes to Salesforce now</label>
    <div class="deal-detail-edit-buttons">
        <button class="submit" ng-click="ctrl.cancel()" ng-model="setNextStep">Cancel</button>
        <button class="submit" ng-click="ctrl.save()" ng-disabled="!ctrl.deal.amount|| !ctrl.deal.close_date || !ctrl.deal.nextStep">Save Changes</button>
    </div>
</form>
