<form class="deal-detail-edit">
    <h1>Edit</h1>
    <fieldset>
        <p>
            <small>Amount</small>
            <input type="number" name="amount" ng-model="ctrl.amount" id="amount" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" />
        </p>
        <p>
            <small>Close Date</small>
            <input type="date" name="close-date" ng-model="ctrl.closeDate" id="CloseDate" />
        </p>
        <p>
            <small>Next Step</small>
            <textarea cols="55" rows="7" ng-model="ctrl.nextStep"></textarea>
        </p>
    </fieldset>
    <input id="sync-now" type="checkbox" name="syncChanges" ng-model="ctrl.updateSalesforce"/>
    <label for="sync-now">Sync my changes to Salesforce now</label>
    <div class="deal-detail-edit-buttons">
        <button class="submit" ng-click="ctrl.cancel()" ng-model="setNextStep">Cancel</button>
        <button class="submit" ng-click="ctrl.save()" ng-disabled="ctrl.notSaveable()">Save Changes</button>
    </div>
</form>
