<h1>Password Reset</h1>
<form  name="password_reset_form" ng-submit="ctrl.send()">
    <!-- display when checking for updates -->
    <loading ng-show="ctrl.sending" message="Sending…"></loading>

    <div class="email-error" ng-if="ctrl.sendError">
        <p>Error: Password reset email couldn't be sent. Please use a valid email address.</p>
        <button ng-click="ctrl.tryAgain()">Try Again</button>
    </div>
    <fieldset>
        <p ng-if="!ctrl.sent">
        <label for="email">Email Address</label>
        <small class="error" ng-if="password_reset_form.email.$error.required && !password_reset_form.email.$pristine">Email field is required</small>
        <small class="error" ng-if="password_reset_form.email.$error.email && !password_reset_form.email.$pristine">Invalid email format</small>
        <input type="email" name="email" ng-model="ctrl.email" ng-change="ctrl.emailVerify()" id="email" required placeholder="Email" />
        </p>
        <button class="submit" type="submit" ng-disabled="password_reset_form.$invalid">Send Password Reset Link</button>
    </fieldset>
</form>




