<div ng-if="ctrl.playbooks" class="deal-title">
    <small ng-bind="ctrl.company"></small>
    <h1 ng-bind="ctrl.deal_name"></h1>
</div>
<div ng-repeat="(playbook_name, playbook) in ctrl.playbooks" class="set-play">
    <small>Current {{playbook_name}} plays</small>
    <h2 ng-repeat="play in ctrl.activePlays(playbook.plays)">{{play.name}}</h2>

    <form ng-submit="ctrl.addPlay(playbook_name)">
        <fieldset>
            <div>
                <select ng-model="ctrl.selected" ng-change="ctrl.setSelected(playbook_name)"
                        ng-options="play.id as play.name for play in ctrl.allPlays(playbook.plays)"
                        title="Select Play to Add">
                </select>
            </div>
            <button class="submit" type="submit">Add Play</button>
        </fieldset>
    </form>
</div>





