<h1>Sony Tech Refresh</h1>
<div class="send-question" ng-controller="MainController">
    <small>Select Money QQs to send</small>
    <form>
        <fieldset>
            <div>
                <input type="checkbox" id="question" class="checkbox"/>
                <label for="question"></label>

                <p class="question">Is this project budgeted?</p>
            </div>
            <div>
                <input type="checkbox" id="question2" class="checkbox"/>
                <label for="question2"></label>

                <p class="question">Is the funding available now?</p>
            </div>
            <div>
                <input type="checkbox" id="question3" class="checkbox"/>
                <label for="question3"></label>

                <p class="question">Question 3?</p>
            </div>
            <div>
                <input type="checkbox" id="question4" class="checkbox"/>
                <label for="question4"></label>

                <p class="question">Have you ever seen a question this long in your whole life?</p>
            </div>
        </fieldset>
    </form>
    <small>Send to reps</small>
    <ul class="reps">
        <li ng-repeat="rep in myReps">{{rep['name']}}<a href="#" class="delete"
                                                        ng-click="removeMyRep($index, rep.name)"></a></li>
        <li><a href="#" class="add-rep" ng-click="showRepList()">Add A Rep</a></li>
    </ul>
    <ul class="rep-list" ng-show="visible">
        <li ng-repeat="rep in allReps" ng-click="addRep(rep.name); removeAllRep($index)">{{rep['name']}}</li>
    </ul>
    <button ui-sref="root.deal-feed({deal_id: ctrl.deal_id})" class="submit">Send QQ</button>
</div>
