<h1>Edit</h1>
<div class="edit clearfix">
    <fieldset class="edit-mobile">
        <p>
            <small>Account Value</small>
            <input class="edit-input-style" type="number" name="email" ng-model="accountValue" id="accountValue" />
        </p>
    </fieldset>
    <div class="sync-check">
        <input type="checkbox" name="syncChanges" ng-model="syncChanges" value="true" />Sync my changes to Salesforce
    </div>
    <div class="edit-buttons">
        <button class="submit edit-buttons" ui-sref="import-deals" ng-model="setNextStep">Cancel</button>
        <button class="submit edit-buttons" ui-sref="edit-next-step">Save Changes</button>
    </div>
</div>