<form class="deal-detail-edit">
    <h1>Edit</h1>
    <fieldset>
        <p>
            <small>Account Value</small>
            <input type="text" name="account-value" ng-model="CloseDate" id="CloseDate" />
        </p>
    </fieldset>
    <input id="sync-now" type="checkbox" name="syncChanges" ng-model="syncChanges" value="true" />
    <label for="sync-now">Sync my changes to Salesforce now</label>
    <div class="deal-detail-edit-buttons">
        <button class="submit" ui-sref="import-deals" ng-model="setNextStep">Cancel</button>
        <button class="submit" ui-sref="edit-next-step">Save Changes</button>
    </div>
</form>
