<h1>Question {{$index +1}} of {{ctrl.questions.length}}</h1>
<small>Asked by {{question.askedBy}} | {{question.askedDate}}</small>
<h2>{{question.question}}</h2>
<form name="questionForm" ng-hide="!ctrl.isAnswered && ctrl.isAnswered == question.questionId">
    <fieldset name="textAnswer">
        <div>
            <input type="number" name="amountAnswerInput" ng-model="question.amountAnswerInput" placeholder="Enter amount" required/>
        </div>
        <div>
            <textarea placeholder="Comments..."></textarea>
        </div>
        <button class="submit" type="submit" ng-disabled="!question.amountAnswerInput" ng-click="ctrl.textAnswer(question.questionId, question.amountAnswerInput)">Submit</button>
    </fieldset>
</form>
<div name="Answered+{{question.questionId}}" ng-if="ctrl.isAnswered == question.questionId">
    <small>You Answered</small>
    <h1>{{question.textAnswerInput}}</h1>
</div>