<h1>Question {{$index +1}} of {{ctrl.questions.length}}</h1>
<small>Asked by {{question.askedBy}} | {{question.askedDate}}</small>
<h2>{{question.question}}</h2>
<form name="questionForm">
    <fieldset>
        <input class = "input" type="date" name="dateSelection" min="2016-01-02" ng-model="question.dateSelection">
    </fieldset>
    <button class="submit" type="submit" ng-disabled="!question.dateSelection">Submit</button>
</form>
<div name="Answered+{{question.questionId}}" ng-if="question.dateSelection">
    <small>You Answered</small>
    <h1>{{question.dateSelection}}</h1>
</div>